@using AppData.DBContext;
@using Microsoft.AspNetCore.Http;
@model AppData.Models.Book

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center; font-weight: bold; margin-top: 50px; color: white; background-color: darkblue; padding-top: 10px; padding-bottom: 10px;">CHI TIẾT SẢN PHẨM</h1>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-4">
        <img src="@Model.ImageLink" style="max-width: 100%;"/>
        <div style="margin-top: 30px;">
            <a asp-action="ShowAllBooks">
                <button style="border: none; border-radius: 5px; color: white; background-color: darkblue; font-weight: bold; padding: 5px 20px;">
                    &#8592; Trở lại
                </button>
            </a>

        </div>
    </div>
    <div class="col-md-8">
        @{
            BookShopDbContext dbContext = new BookShopDbContext();
            string tacGia = dbContext.authors.FirstOrDefault(x => x.Id == Model.AuthorId).AuthorName;
            string theLoai = dbContext.categories.FirstOrDefault(x => x.Id == Model.CategoryId).CategoryName;

            int giaTien = Model.Price / 9 * 10;
            int tietKiem = giaTien / 10;
            string giaTienThat = String.Format("{0:#,##0.##}", giaTien);
            string giaTienKM = String.Format("{0:#,##0.##}", Model.Price);
            string tienTietKiem = String.Format("{0:#,##0.##}", tietKiem);
        }
        <h1 style="font-weight: bold; color: darkblue">@Html.DisplayFor(model => model.Name)</h1>
        <h5>TÁC GIẢ: @tacGia</h5>
        <h5>THỂ LOẠI: @theLoai</h5>
        <h5 style="text-align: justify">MÔ TẢ: @Html.DisplayFor(model => model.Description)</h5>
        <div class="row">
            <div class="col-md-6">
                @if (Model.Status == true)
                {
                    <h4 style="color: gray; text-decoration: line-through;">@giaTienThat VNĐ</h4>
                    <h3 style="color: red; font-weight: bold;">@giaTienKM VNĐ</h3>
                    <p style="color: gray;">(Bạn đã tiết kiệm được @tienTietKiem VNĐ)</p>
                }
                else if(Model.Status == false && Model.Description == "Ngừng kinh doanh")
                {
                    <h3 style="text-align: center; color: gray; font-weight: bold; border: solid 5px gray; margin-top: 25px;">NGỪNG KINH DOANH</h3>
                }
                else
                {
                    <h3 style="text-align: center; color: gray; font-weight: bold; border: solid 5px gray; margin-top: 25px;">ĐÃ HẾT HÀNG</h3>
                }             
            </div>
            <div class="col-md-6">
                <div style="text-align: center;">
                    @if(Model.Status == false)
                    {
                        using (Html.BeginForm("AddToCart", "Cart", new { id = Model.Id }))
                        {
                            <input type="submit" value="THÊM VÀO GIỎ HÀNG" class="btn btn-primary" style=" width: 200px; height: 50px; font-weight: bold; margin-top: 20px; background-color: gray; border: none" disabled/>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("AddToCart", "Cart", new { id = Model.Id }))
                        {
                            <input type="submit" value="THÊM VÀO GIỎ HÀNG" class="btn btn-primary" style=" width: 200px; height: 50px; font-weight: bold; margin-top: 20px;" />
                        }
                    }
                    <h5 style="color: gray; margin-top: 20px;">(Đã bán: @Model.NumberOfPurchase)</h5>
                </div>
            </div>
        </div>
    </div>
</div>
