@using AppData.Models
@model AppData.Models.Book

@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Author> lstAuthor = ViewBag.Authors;
    List<Category> lstCategory = ViewBag.Categories;
}

<h1 style="text-align: center; font-weight: bold; margin-top: 50px; color: white; background-color: darkblue; padding-top: 10px; padding-bottom: 10px;">CHỈNH SỬA THÔNG TIN</h1>

<div class="row" style="margin-top: 30px;">
    <div class="col-md-4">
        <img id="imageBook" src="@Model.ImageLink" style="max-width: 100%;" />
    </div>
    <div class="col-md-8">
        <form asp-action="EditBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên sản phẩm</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageLink" class="control-label">Link ảnh</label>
                <input id="urlImageBook" asp-for="ImageLink" class="form-control" onchange="updateImage()"/>
                <span asp-validation-for="ImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <textarea rows="4" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Giá tiền</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableQuantity" class="control-label">Số lượng tồn</label>
                <input asp-for="AvailableQuantity" class="form-control" />
                <span asp-validation-for="AvailableQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label">Tác giả</label>
                <select asp-for="AuthorId" class ="form-control">
                    @foreach(var item in lstAuthor)
                    {
                        <option value="@item.Id">@item.AuthorName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Thể loại</label>
                <select asp-for="CategoryId" class ="form-control">
                    @foreach(var item in lstCategory)
                    {
                        <option value="@item.Id">@item.CategoryName</option>
                    }
                </select>
            </div>
            <div class="form-group" style="margin-top: 30px; text-align: center;">
                <input type="submit" value="Chỉnh sửa" class="btn btn-primary" style="font-weight: bold;"/>
            </div>
        </form>
    </div>
</div>

<div style="margin-top: 30px;">
    <a asp-action="BooksForAdmin">
        <button style="border: none; border-radius: 5px; color: white; background-color: darkblue; font-weight: bold; padding: 5px 20px;">
            &#8592; Trở lại
        </button>
    </a>
</div>

<script>
    function updateImage() {
        var imageUrl = document.getElementById('urlImageBook').value;
        var imageDisplay = document.getElementById('imageBook');
        imageDisplay.src = imageUrl;
    }
</script>

